@model MovieDB.Models.MovieDetail

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@{
    IEnumerable<SelectListItem> LanguageSelection = (IEnumerable<SelectListItem>)ViewBag.LanguageSelection;
    IEnumerable<SelectListItem> GenreSelection = (IEnumerable<SelectListItem>)ViewBag.GenreSelection;
    IEnumerable<SelectListItem> ActorSelection = (IEnumerable<SelectListItem>)ViewBag.ActorSelection;

}

<h4>Lägg till film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OnLanguage" class="control-label"></label>
                <br />
                @foreach (SelectListItem item in LanguageSelection)
                {
                    <input asp-for="OnLanguage" type="radio" value="@item.Value"> @item.Text<br />
                }
                <span asp-validation-for="OnLanguage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                @Html.DropDownListFor(m => m.Grade, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <br />
                @foreach (SelectListItem item in GenreSelection)
                {
                    <input asp-for="Genre" type="radio" value="@item.Value"> @item.Text<br />
                }
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                @Html.ListBoxFor(m => m.Actors, ActorSelection, "Välj skådespelare")
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

